[submodule "lib/libDaisy"]
	path = firmware/lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "lib/DaisySP"]
	path = firmware/lib/DaisySP
	url = https://github.com/electro-smith/DaisySP.git

