[submodule "lib/libDaisy"]
	path = firmware/lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "lib/DaisySP"]
	path = firmware/lib/DaisySP
	url = https://github.com/electro-smith/DaisySP.git

[submodule "plugin/JUCE"]
	path = plugin/JUCE
	url = https://github.com/juce-framework/JUCE.git
